<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro1</servlet-name>
        <servlet-class>controlador.Registro1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificacionesServlet</servlet-name>
        <servlet-class>controlador.NotificacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reserva</servlet-name>
        <servlet-class>DTO.Reserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservar</servlet-name>
        <servlet-class>controlador.Reservar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarRepositorio</servlet-name>
        <servlet-class>Repositorios.ReservarRepositorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeccionControlador</servlet-name>
        <servlet-class>controlador.SeccionControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro1</servlet-name>
        <url-pattern>/Registro1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificacionesServlet</servlet-name>
        <url-pattern>/NotificacionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reserva</servlet-name>
        <url-pattern>/Reserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservar</servlet-name>
        <url-pattern>/Reservar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarRepositorio</servlet-name>
        <url-pattern>/ReservarRepositorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeccionControlador</servlet-name>
        <url-pattern>/SeccionControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
